$primary-blue: #366ed8;
$primary-soft-blue: #cae8d5;
$primary-blue-shade: darken($primary-blue, 10%);
$primary-steel: linear-gradient(to right bottom, rgb(30, 42, 53), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);

$charcoal-grey: #373f51;
$charcoal-grey-contrast: #fff;
$charcoal-grey-shade: darken($charcoal-grey, 10%);
$charcoal-grey-tint: lighten($charcoal-grey, 50%);
$box-shadow: 0 1px 3px 0 rgba(55, 63, 81, 0.15);