<mat-form-field>
    <mat-label>{{ label }}</mat-label>
    <ng-container *ngIf="inputType !== 'number'">
        <input [id]="customId" matInput [mask]="inputMask" [patterns]="inputPatterns" [type]="inputType" [formControl]="ngControl.control">
    </ng-container>
    <ng-container *ngIf="inputType === 'number'">
        <input [id]="customId" matInput [type]="inputType" [formControl]="ngControl.control">
    </ng-container>
    <mat-error *ngIf="ngControl.hasError('required')">{{ customErrorMessage?.required ? customErrorMessage.required : 'This field is required' }}</mat-error>
    <mat-error *ngIf="ngControl.hasError('minlength')">{{ customErrorMessage?.minlength ? customErrorMessage.minlength : 'This field has not reached the minimum required of ' + ngControl.errors['minlength'].requiredLength }}</mat-error>
    <mat-error *ngIf="ngControl.hasError('maxlength')">{{ customErrorMessage?.maxlength ? customErrorMessage.maxlength : 'This field has passed the maximum of ' +  + ngControl.errors['maxlength'].requiredLength }}</mat-error>
</mat-form-field>